@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Manrope:wght@400;600&family=Marck+Script&display=swap');
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-italiana: "Italiana", serif;
  --font-marck: "Marck Script", cursive;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-manrope);
  background-color: #ff0000;
}

#root {
  min-height: 100vh;
}
